<h1>Search Spotify</h1>
<!--TODO: bind input's model to searchString-->
<input type="text" (blur)="changeContent()">
<!--TODO: bind select's model to searchCategory-->
<label for="searches"></label>
<select id="searches" (blur)="changeType()">
	<!--TODO: loop over searchCategories to create dropdown options-->
	<!--populate body and text value https://www.w3schools.com/tags/att_option_selected.asp-->
	<option value={{info}} *ngFor="let info of searchCategories">
		{{info}}
	</option>
</select>
<!--TODO: Call search function when the button is clicked-->
<button class="btn btn-light" (click)="search()">Search</button>
<!--TODO: Display a carousel component if searching for an artist or album. Bind carousel's resources and give it a static carouselId.-->
<!--TODO: Display a track-list component if searching for a track. Bind track-list's tracks.-->
<app-carousel *ngIf="bool" [resources]="resources" [carouselId]="slide"></app-carousel>
<app-track-list *ngIf="track" [tracks]="trackList"></app-track-list>


